RPC_URL=https://api.mainnet-beta.solana.com
KEYPAIR_SECRET_KEY=

# Jupiter
JUPITER_BASE_URL=https://api.jup.ag/swap/v1
JUPITER_API_KEY=

# Dflow
DFLOW_TRADE_API_URL=https://dev-quote-api.dflow.net
DFLOW_API_KEY=

# Titan
TITAN_WS_URL=api.titan.exchange/api/v1
TITAN_AUTH_TOKEN=

# Kinetic
KINETIC_AUTH_URL=https://auth.kinetic.xyz
KINETIC_API_URL=https://api.kinetic.xyz
KINETIC_API_KEY=

# OKX
OKX_BASE_URL=https://web3.okx.com
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_API_PASSPHRASE=
OKX_PROJECT_ID=

# Carbium
CARBIUM_API_URL=https://api.carbium.io/api
CARBIUM_API_KEY=
